@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@font-face {
  font-family: "Voga";
  src: local("Voga"),
    url(../../Fonts/Voga-Medium.otf) format("truetype");
}



.Home__main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Playfair Display', serif;
  z-index: -1;
  background-color: #464646;
}

.Home__bkg {
  width: 100%;
  height: 100%;

  transition: 0.8s ease;
  backface-visibility: hidden;
  z-index: 1;
  display: block;
}
.Home__bkg img {
  
  width: 100%;
  height: 100%;
  filter: blur(2.3px);
}

.Home__content {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  font-family: "Voga";
  font-weight: 100;
  color: white;
  font-size: 2.2em;
}

.Home__glass {
  z-index: 2;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  position: absolute;
  background: rgba(34, 34, 33, 0.49);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(34, 34, 33, 0.3);
  width: 35%;
  height: 55%;
}

.Name__main {
  color: rgb(245, 166, 97);
  font-size: 3.5rem;
  font-weight: 100;
  padding: 0.1rem;
  background-color: rgba(132, 80, 43, 0.338);
  border-radius: 20px;
  font-family: 'Playfair Display', serif;
}

.Link__main {
    color: rgb(245, 166, 97);
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2.1rem;
    margin-top: 1rem;
    padding: 0;
    
    transition: background-color 0.5s ease, color 0.5s ease;
  }
  
  .Link__main:hover {
    color: white;
    background-color: rgb(15, 15, 15);
  }
  