@font-face {
  font-family: "Voga";
  src: local("Voga"), url(../../Fonts/Voga-Medium.otf) format("truetype");
}


.Parcerias__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #2A2928;
}	

.Parcerias__bkg{
    display: flex;
    width: 100%;
    height: 100%;

}

.Parcerias__bkg img{

    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Parcerias__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 1;
    left: 0;
}

.Parcerias__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 80%;
    z-index: 2;
    position: absolute;
    top: 1;
    left: 0;
  
}

.Parcerias__content h1{
    font-family: "Voga";
    font-weight: 100;
    font-size: 3em;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}

.Parcerias__content p{
    font-family: "Voga";
    font-weight: 100;
    font-size: 1.5em;
    color: #ffffff;
    margin: 0;
    padding: 0;
    text-align: center;
}


.Parceria__Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 45%;
    height: 100%;
    z-index: 2;
    margin-top: 2em;
    border-radius: 40px;
    background-color: #272724;
    border-width: 0.7em;
    border-style: solid;
    border-color: #b47b53;
    box-shadow: #b47b53;
    box-shadow: 0 15px 25px #000000;
    padding: 1em;
    
}
