html{
  @font-face {
    font-family: 'Voga';
    src: url('./Fonts/Voga-Medium.otf');
  }
}


.Nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
    background-color: #bdbdbd;
    height: 70px;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Voga';
    
}

.Nav__img{
    width: 2.9em;
    height: 2.9em;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.Nav__img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.Nav a{
    color: #212121;
    text-decoration: none;
    padding: 0 10px;
    position: relative;
}

.Nav a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #c28143;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.Nav a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}